# Installations and libraries

In [8]:
import pandas as pd
import numpy as np
import yfinance as yf
from tqdm import tqdm

# Get financial PE ratio

In [7]:
ticker = 'AAPL'
apple = yf.Ticker(ticker).info
apple.get('trailingPE',np.NaN)

28.414001

# Function to get the stock symbols

In [4]:
urls = {'SP400':{'url':'https://en.wikipedia.org/wiki/List_of_S%26P_400_companies','idx':0},
        'SP500':{'url':'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies','idx':0},
        'SP600':{'url':'https://en.wikipedia.org/wiki/List_of_S%26P_600_companies','idx':0},
        'DJIA':{'url':'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components','idx':1},
        'NASDAQ100':{'url':'https://en.wikipedia.org/wiki/Nasdaq-100#Components','idx':4},
        'RUSSEL1000':{'url':'https://en.wikipedia.org/wiki/Russell_1000_Index','idx':2}}

In [5]:
def get_stock_symbols(index_name,urls):

  data = pd.read_html(urls[index_name]['url'])[urls[index_name]['idx']]
  columns = ['Symbol','Ticker','Symbol']
  for f in columns:

    if f in data.columns:
      break
    else:
      continue
  data = data[f].to_list()

  return data

In [6]:
get_stock_symbols('DJIA',urls)

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

# Make a DataFrame of financial data

In [11]:
index = get_stock_symbols('DJIA',urls)
symbols = []
rows = []
for tick in tqdm(index):

  try:
    row = dict()
    data = yf.Ticker(tick).info
    row['trailingPE'] = data.get('trailingPE',np.NaN)
    row['forwardPE'] = data.get('forwardPE',np.NaN)
    rows.append(row)
    symbols.append(tick)
  except:
    print(f'{tick} failed to download')
    continue

100%|██████████| 30/30 [00:04<00:00,  6.19it/s]

In [12]:
df = pd.DataFrame(rows,index = symbols)
df

      trailingPE  forwardPE
MMM    10.404959  10.524556
AXP    17.654411  13.477947
AMGN   15.439158  12.054671
AAPL   31.640676  28.414001
BA           NaN  39.808140
CAT    17.340237  12.881318
CVX     8.167836  10.517721
CSCO   18.039427  12.457921
KO     26.960354  21.779360
DIS    39.330357  16.654064
DOW    12.712872  11.092873
GS     11.199644   8.255772
HD     18.319733  18.930773
HON    26.189790  19.810890
IBM    57.781246  12.968938
INTC         NaN  18.965517
JNJ    34.691822  15.043636
JPM    10.247232   9.924947
MCD    31.139633  23.939720
MRK    22.382812  13.466510
MSFT   36.218376  30.595434
NKE    31.561958  27.867683
PG     25.864113  23.269592
CRM   552.868400  23.395323
TRV    14.797275  10.170960
UNH    21.830664  17.047892
VZ      6.908560   7.571428
V      30.729586  23.471370
WBA          NaN   6.652543
WMT    37.550728  22.595930

In [13]:
df.to_csv('PE_ratios.csv')